{% extends "base.html" %}
{% load static %}

{% block title %}{{ data.full_name }}{% endblock %}

{% block content %}

  <div class="breadcrumps">
    <a href="/" target="_self">Главная</a> / <a href="/authors/" target="_self">Наши авторы</a> / {{ data.full_name }}
  </div>
    <div class="list-item">
      <div class="author-container-top">
        <img src="{% static "courses/v51/images/authors/" %}{{ author }}.jpg" alt="Author" class="author-photo-large"/>
        <span class="margin-horisontal-medium">
          <h1 class="text-primary">{{ data.full_name }}</h1>
          <span class="text-about">
            {{ data.short_description }}
          </span> <br/>
          <span>
            <a href="mailto: {{ data.email }}">{{ data.email }}</a>
          </span>
        </span>
      </div>
    </div>

<h1 class="indent-not-large">Об авторе</h1>
    <div class="list-item">
      {{ data.full_description|safe }}
    </div>

    <h1 class="indent-not-large">Курсы</h1>
    {% for course in data.courses %}
    <div class="list-item">
      <div style="display: table;height: 100%;">
          <div class="block course-header">
            <object  type="image/svg+xml" data="{% static "courses/v51/images/" %}{{ course.course_id }}.svg" class="course-img svg-item"  width="2.5em" height="2.5em"> </object>
          </div>
          <div class="block course-header left-padding">
            <h1 class="no-margin "><a href="/courses/{{ course.course_id }}" target="_self">{{ course.course_title }}</a></h1>
          </div>
        </div>
    </div>
    {% endfor %}


{% endblock %}
