{% autoescape off %}
<p>
Здравствуйте!
</p>
<p>
Вы зарегистрировались на портале SenJun с курсами для программистов.<br>
Чтобы активировать аккаунт, перейдите <a href="https://senjun.ru{% url 'activate' uidb64=uid token=token %}">по этой ссылке.</a><br>
Ссылка будет активна в течение <b>3х дней.</b>
</p>
<p>
Ваш логин: {{ user.username }}
</p>
<p>
Если вы не регистрировались на сайте <a href="https://senjun.ru">senjun.ru</a>, просто проигнорируйте это письмо.
</p>
<p>
С уважением,<br>
Команда SenJun
</p>
{% endautoescape %}