{% load static %}
<!DOCTYPE html>
<html lang="ru-RU">
    <head>
        <meta name="robots" content="all" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta property="og:site_name" content="Senior Junior">

        {% if description %}
            <meta name="description" content="{{ description }}">
            <meta itemprop="{{ description }}">
            <meta property="og:description" content="{{ description }}">
            <meta name="twitter:description" content="{{ description }}">
            <meta property="og:type" content="article"/>
        {% else %}
            {% if course_id %}
                <meta name="description" content="Курс {{ course_id }}">
                <meta itemprop="Курс {{ course_id }}">
                <meta property="og:description" content="Курс {{ course_id }}">
                <meta name="twitter:description" content="Курс {{ course_id }}">
            {% else %}
                <meta name="description" content="Курсы для программистов от программистов">    
                <meta itemprop="Курсы для программистов от программистов">
                <meta property="og:description" content="Курсы для программистов от программистов">
                <meta name="twitter:description" content="Курсы для программистов от программистов">         
            {% endif %}
            <meta property="og:type" content="website"/>
        {% endif %}

        {% if keywords %}
            <meta name="keywords" content="{{ keywords }}">
        {% else %}
            <meta name="keywords" content="Python, Rust, Программирование, Разработка, Курсы">
        {% endif %}

        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'courses/v52/styles/font-awesome/4.7.0/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'courses/v52/style.css' %}">

        {% if congratulations %}
            <link rel="stylesheet" href="{% static 'courses/v52/congratulations.css' %}">
        {% endif %}

        {% if progress %}
            <link rel="stylesheet" href="{% static 'courses/v52/progress.css' %}">
        {% endif %}
        <meta property="og:image" content="{% static 'courses/v52/images/logo.png' %}" />
        <meta property="og:locale" content="ru_RU">
	    
        <script src="{% static 'courses/v52/scripts/header_handler.js' %}"></script>
        

        {% if course_id and chapter_id %}
            <script src="{% static 'courses/v52/scripts/ansi_up.js' %}" type="text/javascript"></script>
           
            <script src="{% static 'courses/v52/scripts/markdown-it/13.0.1/markdown-it.js' %}"></script>
            <script src="{% static 'courses/v52/scripts/markdown-it-attrs/4.1.6/markdown-it-attrs.browser.min.js' %}"></script>

            <script defer src="{% static 'courses/v52/scripts/code_mirror_bundle.js' %}"></script>
            <script defer src="{% static 'courses/v52/scripts/chapter_handler.js' %}"></script>

            <script type="application/ld+json">
                {
                 "@context": "https://schema.org",
                 "@type": "BreadcrumbList",
                 "itemListElement":
                 [
                  {
                   "@type": "ListItem",
                   "position": 1,
                   "item":
                   {
                    "@id": "https://senjun.ru/courses/",
                    "name": "Курсы"
                    }
                  },
                  {
                   "@type": "ListItem",
                  "position": 2,
                  "item":
                   {
                     "@id": "https://senjun.ru/courses/{{ course_id }}/",
                     "name": "{{ course_id|title }}"
                   }
                  },
                  {
                   "@type": "ListItem",
                   "position": 3,
                   "item":
                    {
                      "@id": "https://senjun.ru/courses/{{ course_id }}/chapters/{{ chapter_id }}/",
                      "name": "{{ title }}"
                    }
                   }
                 ]
                }
            </script>
        {% endif %}

        {% if author %}
        <script type="application/ld+json">
            {
             "@context": "https://schema.org",
             "@type": "BreadcrumbList",
             "itemListElement":
             [
              {
               "@type": "ListItem",
               "position": 1,
               "item":
               {
                "@id": "https://senjun.ru/authors/",
                "name": "Авторы курсов"
                }
              },
              {
               "@type": "ListItem",
              "position": 2,
              "item":
               {
                 "@id": "https://senjun.ru/authors/{{ author }}/",
                 "name": "{{ data.full_name }}"
               }
              }
             ]
            }
        </script>
        {% endif %}

        {% if congratulations %}
            <script defer src="{% static 'courses/v52/scripts/congratulations.js' %}"></script>
        {% endif %}

        <title>{% block title %}SenJun{% endblock %}</title>
        <meta charset="utf-8">

        <base target="_blank">

        <script>
            (() => {
                function switch_to_dark() {
                    document.documentElement.setAttribute('data-theme', "dark");
                }

                const theme_str = localStorage.getItem("theme");
                if (theme_str && theme_str == "dark") {
                    switch_to_dark();
                    return;
                }

                if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) { // Try to get browser theme
                    switch_to_dark();
                    return;
                }
            })();
        </script>
    </head>
    <body>
        <div id="chapter_sidebar" class="sidebar">
            <span class="closebtn" onclick="closeContents()">&times;</span>
            <p class="text-sidebar-title">Содержание главы</p>
            <div id="chapter_blocks_list">
            </div>
        </div>

        <div id="main">
        <header>
            <div class="center-div header-div">
                <div class="header-left-div header-div">
                    <a href="/" title="Senior Junior" target="_self">
                        <object  type="image/svg+xml" data="{% static 'courses/v52/images/logo.svg' %}" class="header-img svg-item object-link"  width="2.2rem" height="2.2rem"> </object>    
                    </a>
                    <div class="block header-text desktop-only">
                        <a href="/" title="Senior Junior" target="_self">SenJun</a>
                    </div>
                </div>

                <div class="header-div">
                    <div class="block header-text-right">
                        <a href="/courses" target="_self">Курсы</a>
                    </div>
                    <div class="block header-text-right">
                        <a href="/playground" target="_self">Playground</a>
                    </div>
                    <div class="block header-text-right" onclick="search_click()">
                        <i class="fa fa-solid fa-search theme-switch-symbol" id="search_btn"></i>
                    </div>
                    <div class="block header-text-right" onclick="switch_theme_click()">
                        <i class="fa fa-solid fa-moon-o theme-switch-symbol" id="theme_switch_btn"></i>
                    </div>
                    <div class="block header-text-right">
                        {% if user.is_authenticated %}
                        <div class="dropdown">
                            <div class="user-first-letter dropbtn noselect">
                                {{ user.username|title|first }}
                            </div>

                            <div class="dropdown-content">
                                <a href="/user" target="_self">Личный кабинет</a>
                                <a href="/progress" target="_self">Прогресс</a>
                                <a href="{% url 'account_logout' %}?next={{ request.path | urlencode }}" target="_self">Выход</a>
                            </div>
                        </div>
                        {% else %}
                            <div class="dropdown">
                                <button class="btn-white" id="login-register" formtarget="_self">Вход</button>
                                <div class="dropdown-content">
                                    <a href="/login/" target="_self">Логин</a>
                                    <a href="/signup/" target="_self">Регистрация</a>
                                </div>
                            </div>

                        {% endif %}
                    </div>
                </div>
            </div>
        </header>

        <div class="center-div">
            {% block content %}{% endblock %}
        </div>
        
        <footer>
            <div class="center-div header-div">
                <div class="header-left-div header-div">
                    <div class="block">
                        <a href="https://t.me/sen_jun_bot" target="_blank" rel="noopener noreferrer" class="footer">
                            <img src="{% static 'courses/v52/images/bot.svg' %}" alt="SenJun Telegram Bot" class="footer-img"/>
                        </a>
                    </div>
                    <div class="block">
                        <a href="https://t.me/sen_jun_bot" target="_blank" rel="noopener noreferrer" class="footer">
                            Бот для прохождения курсов
                        </a>
                    </div>
                </div>
            </div>

            <div class="center-div header-div indent-small">
                <div class="header-left-div header-div">
                    <div class="block">
                        <a href="https://t.me/senjun_feedback" target="_blank" rel="noopener noreferrer" class="footer">
                            <img src="{% static 'courses/v52/images/telegram.svg' %}" alt="SenJun Community Group" class="footer-img"/></a>
                    </div>
                    <div class="block">
                        <a href="https://t.me/senjun_feedback" target="_blank" rel="noopener noreferrer" class="footer">Наше сообщество</a>
                    </div>
                </div>
            </div>

            <div class="center-div header-div indent-small">
                <div class="header-left-div header-div">
                    <div class="block">
                        <a href="https://github.com/senjun-team/senjun-courses" target="_blank" rel="noopener noreferrer" class="footer">
                            <img src="{% static 'courses/v52/images/github.svg' %}" alt="SenJun on GitHub" class="footer-img"/></a>
                    </div>
                    <div class="block">
                        <a href="https://github.com/senjun-team/senjun-courses" target="_blank" rel="noopener noreferrer" class="footer">Проект на GitHub</a>
                    </div>
                </div>
            </div>

            <div class="center-div header-div indent-small">
                <div class="header-left-div header-div">
                    <div class="block">
                        <a href="mailto: team@senjun.ru" class="footer">
                            <i class="fa fa-envelope fa-fw  footer footer-img"></i></a>
                    </div>
                    <div class="block">
                        <a href="mailto: team@senjun.ru" class="footer">
                            team@senjun.ru
                        </a>
                    </div>
                </div>
            </div>

            <div class="center-div header-div indent-small">
                <div class="header-left-div header-div">
                    <div class="block">
                        <a href="/donation/" target="_blank" rel="noopener noreferrer" class="footer">
                            <i class="fa fa-heart fa-fw  footer footer-img"></i></a>
                    </div>
                    <div class="block">
                        <a href="/donation/" target="_blank" rel="noopener noreferrer" class="footer">Поддержать проект</a>
                    </div>
                </div>
            </div>

            <div class="center-div header-div indent-large">
                <div class="header-left-div header-div">
                    <div class="block light-gray left-padding-mobile">
                        © 2024, SenJun<br>
                        <a href="/terms_of_use/" target="_blank" rel="noopener noreferrer" class="white"> Условия использования</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <div class="modal" id="modal_overlay"></div>

    </body>
</html>