{% extends "base.html" %}
{% load static %}

{% block title %}Удаление аккаунта{% endblock %}

{% block content %}
  <h1>Удаление аккаунта</h1>

  <div class="list-item">
    <div>Вы действительно хотите удалить учетную запись <span class="text-about">{{ login }}</span>?<br/>Удаление невозможно будет отменить.</div>
    <div class="indent-medium">

      <form action="" method="post">
        {% csrf_token %}      
        <button type="submit" class="btn-white" formtarget="_self">Да</button>
        <a href="/user" class="btn-white indent-left" target="_self">Нет</a>
      </form>

    </div>
  </div>
{% endblock %}
