
{% extends "base.html" %}
{% load static %}

{% block title %}Условия использования площадки Senior Junior{% endblock %}

{% block content %}
  <h1 style="margin-top: 40px;">Условия использования площадки Senior Junior</h1>
  <div class="list-item">
    <p>
    <a href="/terms_of_use/" target="_blank" rel="noopener noreferrer">Условия использования сервиса</a>
    </p>
    <p>
    <a href="/privacy/" target="_blank" rel="noopener noreferrer">Политика в отношении обработки персональных данных</a>
    </p>
</div>
{% endblock %}
