{% extends "base.html" %}
{% load static %}

{% block title %}Условия использования{% endblock %}

{% block content %}
  <h1 style="margin-top: 40px;">Условия использования сервиса SenJun</h1>
  <div class="list-item">

    <p>
        1. Настоящие Условия регламентируют использование пользователем сети Интернет (далее — Пользователь) сервиса SenJun, доступного по адресу: <a href="https://senjun.ru">https://senjun.ru</a> (далее — Сервис).
        </p><p>
        2. Настоящие Условия могут быть изменены без какого-либо специального уведомления, новая редакция Условий вступает в силу с момента ее размещения в сети Интернет по указанному в данном абзаце адресу. Действующая редакция Условий всегда находится на странице по адресу: <a href="/terms_of_use">https://senjun.ru/terms_of_use.</a>
        </p><p>
        3.  Начиная использовать Сервис или его отдельные функции, Пользователь считается принявшим настоящие Условия в полном объеме, без оговорок и исключений. В случае несогласия Пользователя с какими-либо из положений настоящих Условий, Пользователь не вправе использовать Сервис. В случае если были внесены какие-либо изменения в настоящие Условия, в порядке, предусмотренном п. 2. настоящих Условий, с которыми Пользователь не согласен, он обязан прекратить использование Сервиса.
        </p><p>
        4. Сервис предлагает Пользователю возможность бесплатного доступа к онлайн-курсам. Все существующие на данный момент функции Сервиса, а также любое их развитие и/или добавление новых является предметом настоящих Условий.
        </p><p>
        5. Представленная в Сервисе информация носит справочный характер. Не гарантируется, что Сервис, качество какого-либо продукта, услуги, информации, полученных с использованием Сервиса, соответствует или будет соответствовать требованиям Пользователя, а также что функции Сервиса будут предоставляться непрерывно, быстро, надежно и без ошибок. Не гарантируется точность, актуальность, полнота, достоверность информации, которая может быть получена с использованием Сервиса. Информация Сервиса не предназначена для использования для каких-либо целей или в каком-либо качестве (например, для установления и/или подтверждения каких-либо фактов, в качестве доказательств при вынесении юридически значимых решений, для предоставления справок и проведения точных расчетов, исследований и т.д.).
        </p><p>
        6. Пользователь использует Сервис на свой собственный страх и риск. Пользователь самостоятельно несет ответственность за возможные последствия использования Сервиса, в том числе за ущерб, который это может причинить компьютеру Пользователя, за потерю данных или любой другой вред. Пользователь самостоятельно несет ответственность перед третьими лицами за свои действия, связанные с использованием Сервиса, в том числе, если такие действия приведут к нарушению прав и законных интересов третьих лиц, а также за соблюдение законодательства при использовании Сервиса.
        </p><p>
        7. В Сервисе используются объекты интеллектуальной собственности, права на которую принадлежат соответствующим правообладателям, а также информация, предоставленная её обладателями. Полный перечень правообладателей и обладателей информации перечислен в п. 8 настоящих Условий.
        </p><p>
        8. Информация о правообладателях и обладателях информации:<br/>
        — Материалы курсов: <a href="https://github.com/senjun-team" target="_blank" rel="noreferrer">senjun-team</a> под лицензией <a href="https://github.com/senjun-team/senjun-courses/blob/main/LICENSE" target="_blank" rel="noreferrer">GNU General Public License v3.0.</a><br/>
    </p>
    
  </div>
  
{% endblock %}
