{% extends "base.html" %}
{% load static %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
  <h1>Личный кабинет</h1>

  <div class="list-item">
    <div class="text-about text-small indent-small">
        Имя пользователя:
    </div>
    <div>{{ login }}</div>
    
    {% if email %}
      <div class="text-about text-small indent-small">
          E-mail:
      </div>
      <div>{{ email }}</div>
          <div class="indent-medium">
          <a href="{% url 'account_reset_password' %}" class="btn-white" target="_self">Сменить пароль</a>
      </div>
    {% else %}
      <div class="text-about text-small indent-small">Вход на сайт осуществлен через сторонний сервис.</div>
    {% endif %}  

    <div class="indent-medium">
      <a href="/delete_account" class="btn-gray" target="_self">Удалить аккаунт</a>
    </div>
  </div>

{% endblock %}
