{% extends "base.html" %}
{% load static %}

{% block title %}{{ data.full_name }}{% endblock %}

{% block content %}

  <div class="breadcrumps">
    <a href="/" target="_self">Главная</a> / Наши авторы
  </div>

    <h1 class="indent-not-large">Наши авторы</h1>
    {% for author in authors %}
    <div class="list-item">
      <div class="author-container">
        <img src="{% static "courses/v52/images/authors/" %}{{ author.author_id }}.jpg" alt="Author" class="author-photo-medium"/>
        <span class="margin-horisontal-medium">
          <h3 class="text-primary no-margin"><a href="/authors/{{ author.author_id }}" target="_self">{{ author.full_name }}</a></h3>
          <span class="text-about">
            {{ author.short_description }}
          </span>
        </span>
      </div>
    </div>
    {% endfor %}


{% endblock %}
